button {
    cursor: pointer;
    background-color: #476785;
    border: 1px solid #476785;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #F5F8FA;
    padding: 20px 80px;
    &:hover {
        background-color: inherit;
        border: 1px solid #476785;
        color: #476785;
    }
}