@import 'layout';
@import 'breakpoints';
@import 'variables';

* {
  box-sizing: border-box;
}

// span {
//   font-family: Verdana;
//   margin: auto;
//   padding: 8px;
//   border-radius: 4px;
//   background-color: #faebd7;
//   text-transform: lowercase;
// }
