.menu {
    &__back {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(9, 17, 24, 0.5);
        z-index: 100;
        @media (max-width: 660px) {
            display: none;
        }
    }
    &__body {
        position: absolute;
        height: 100%;
        width: 40%;
        right: 0;
        background-color: #476785;
        top: 0;
        padding: 30px 60px 0 0;
        display: flex;
        flex-direction: column;
        align-items: end;
        z-index: 101;
        @media (max-width: 1100px) {
            width: 50%;
        }
        @media (max-width: 800px) {
            width: 60%;
        }
        @media (max-width: 660px) {
            width: 100%;
        }
        &_close {
            svg {
                cursor: pointer;
            }
        }
        &_list {
            flex: 1;
            ul {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: end;
                height: 100%;
                li {
                    font-weight: 400;
                    font-size: 42px;
                    line-height: 54px;
                    color: #FCFCFC; 
                }
            }
        }
    }
}